@{
    ViewBag.Title = "Reminder Hero - Email And Text Reminders - Privacy Policy";
}

<div class="row-fluid tospp">
    <div class="span2">
    </div>
    <div class="span8">
        <h1>Privacy Policy</h1>

        At Reminder Hero, we take your privacy seriously. That's why you'll find our privacy policy to be simple and easy to understand.
    <ol>
        <li><strong>Your example.com Account</strong>
            <p>We will never share or distribute your account details, including your email address, password, and phone number. Period.</p>
        </li>
        <li><strong>Your Financial Information</strong><p>Your financial details, such as Credit Card Number and Expiry Date, are not stored on the Reminder Hero servers. All payments are securely processed using <a href="http://stripe.com">Stripe</a>, our PCI-compliant payment processor.</p>
        </li>
        <li><strong>Using the Reminder Hero Website</strong>
            <p>If you use the Reminder Hero website, we may log your IP address for security purposes.</p>
        </li>
        <li><strong>Creating Reminders</strong>
            <p>If you create reminders using Reminder Hero, we will only use the information you provide us in the reminders to deliver the reminder to you, display information about the reminder to you through the website, or troubleshoot issues involving the handling of the reminder.</p>
            <p>We will not share the details of your reminders with anyone, unless you explicity choose to (for example, if we implement a feature which allows you to send reminders to multiple email addresses).</p>
        </li>
    </ol>
    </div>
    <div class="span2">
    </div>
</div>

<div style="height: 300px;">
</div>
