<p>@ViewBag.Message</p>

<p>
Feel free to contact us if you have any questions or concerns, or reach out to us on Twitter at <a href="http://twitter.com/example-twitter-account">@@example-twitter-account</a>
</p>
<p>
Cheers,<br/>
Reminder Hero
</p>