<p>Sorry, I couldn't figure out the <i>what</i> and the <i>when</i> from your message. Did you include them both?</p>

<p>Our tech team has been notified of this issue, and we'll try to resolve it as soon as possible.</p>
<p>
Feel free to contact us if you have any questions or concerns, or reach out to us on Twitter at <a href="http://twitter.com/example-twitter-account">@@example-twitter-account</a>
</p>